---
import Navigation from "../components/Navigation.astro";
import Card from "../components/Card.astro";
import "../styles/style.css";
import Button from "../components/Button.astro";
import LandingPagePic from "../components/LandingPagePic.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>forside</title>
  </head>
  <body>
    <main>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis
        repellendus reprehenderit iusto minima consequatur dolor neque. Ipsum,
        praesentium fugit officia tempore officiis ea aliquam numquam debitis
        optio quisquam vel minus.
      </p>
    </main>
  </body>
</html>
