---
import "../styles/style.css";
import Button from "../components/Button.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="blaFugl">
    <img src="../../public/billeder/blafugl.webp" alt="Blå fugl" />

    <section class="passionstekst">
      <div>
        <h1>TANJA KALEOVSKI</h1>
        <h2>KUNSTNER & DEKORATIONSMALER</h2>
        <p class="italic">
          " Oplev en verden af farver og antikke maleteknikker "
        </p>
        <p>
          Dekorationskunst består af ældgamle malerteknikker, som Tanja igennem
          sine
          <br /> værker både dyrker og bevarer.
        </p>
      </div>
    </section>
    <section class="kategorier">
      <article class="shopAlt">
        <img src="../billeder/shopAlt.webp" alt="Shop Alt" />
        <a href=""
          ><Button id="shopAlt" variant="primary" size="small">SHOP ALT</Button>
        </a>
      </article>
      <article class="tilmeldKurser">
        <img src="../billeder/kursus.png" alt="Kurser" />
        <div class="H3P">
          <h3>TILMELD KURSER</h3>
          <br />
          <p>
            Kurserne består af undervisning i imitation af træ, overflader og
            marmor. Kurserne henvender sig til alle, og der kræves ingen
            tidligere erfaring med malerkunsten.
          </p>
        </div>
        <a href=""
          ><Button variant="secondary" size="medium">LÆS MERE</Button></a
        >
      </article>
      <article class="shopSaettekasser">
        <img src="../billeder/shopKasser.webp" alt="Sættekasser" />
        <a href=""
          ><Button variant="primary" size="large">SHOP SÆTTEKASSER</Button></a
        >
      </article>

      <article class="shopPortraetter">
        <img src="../billeder/portraetter.webp" alt="Portræt af dreng" />
        <div class="H3P">
          <h3>SHOP PORTRÆTTER</h3>
          <br />
          <p>
            Få lavet et håndtegnet portræt med blyant. En god portrættegning
            skal ikke være en kopi af billedet. Det skal være unikt og
            personligt.
          </p>
        </div>
        <a href=""><Button variant="secondary" size="medium">SHOP NU</Button></a
        >
      </article>

      <article class="shopUnika">
        <img src="../billeder/shopUnika.webp" alt="Unika" />
        <a href=""
          ><Button variant="primary" size="medium">SHOP UNIKA</Button></a
        >
      </article>
      <article class="shopKunsttryk">
        <img src="../billeder/shopTryk.webp" alt="Kunsttryk" />
        <div class="H3P">
          <h3>SHOP KUNSTTRYK</h3>
          <br />
          <p>
            Giclée print er en trykmetode, hvor der blækprintes i høj kvalitet
            på akvarelpapir. Det produceres miljøvenligt og med vandbaseret blæk
            i mindst 9-trykfarver.
          </p>
        </div>
        <a href=""><Button variant="secondary" size="medium">SHOP NU</Button></a
        >
      </article>
    </section>
  </div>
</MainLayout>
