---
import Navigation from "../components/Navigation.astro";
import Card from "../components/Card.astro";
import "../styles/style.css";
import Button from "../components/Button.astro";
import Footer from "../components/Footer.astro";
import Kategorier from "../components/Kategorier.astro";
import KategoriBlobs from "../components/KategoriBlobs.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>forside</title>
  </head>
  <body>
    <main>
      <section>
        <div class="blaFugl">
          <img src="../billeder/blafugl-lille.webp" alt="Bla fugl" />
        </div>
      </section>

      <p>
        At tage på oplevelse i en verden af illusioner. Jeg arbejder med at
        skabe stemninger og vække følelser hos folk. Beskueren må meget gerne
        undres. At det flade lærred kan vokse ud, og blive en form for
        installation eller levende genstand i rummet. At beskueren drages og
        “bedrages” og det umiddelbare liv der skabes, med teknikker, flid og mit
        kunstnerisk billed univers, kommer til live.
      </p>
      <p>
        Mine inspirationskilder ligger først og fremmest i det klassiske trompe
        l´oeil-maleri. En type maleri, kendt siden antikken, hvor man skildrer
        objekter så realistisk, at de ser ud, som om de er virkelige. Ingen er
        perfekte, rene i farven hele tiden. Nogen gange er vi primære, nogen
        gange sekundære, og flest gange tiertære.
      </p>
      <section class="kategorier">
        <article class="shopAlt">
          <img src="../billeder/shopAlt.webp" alt="Shop Alt" />
          <h3>SHOP ALT</h3>
        </article>
        <article class="tilmeldKurser">
          <img src="../billeder/kursus.png" alt="Kurser" />
          <h3></h3>
        </article>
        <article class="saettekasser">
          <img src="../billeder/shopKasser.webp" alt="Sættekasser" />
          <h3></h3>
        </article>

        <article class="portraetter">
          <img src="../billeder/portraetter.webp" alt="Portræt af dreng" />
          <h3></h3>
        </article>

        <article class="shopUnika">
          <img src="../billeder/shopUnika.webp" alt="Unika" />
          <h3></h3>
        </article>
        <article class="kunstTryk">
          <img src="../billeder/shopTryk.webp" alt="Kunsttryk" />
          <h3></h3>
        </article>
      </section>
    </main>
  </body>
</html>
