---
import MainLayout from "../layouts/MainLayout.astro";
import Buttom from "../components/Button.astro";
---

<MainLayout>
  <section class="slideshow">
    <div class="tekst">
      <h1 class="h1">KREATIVE KUNSTKURSER</h1>
      <p class="pIbillede">Kom og lær at male realistiske overflader</p>
    </div>

    <div class="section_top"></div>
  </section>
  <div class="adresse">
    <p>
      Alle kurser foregår i Kreativt Fitnesscenter ApS
      <br />
      Galoche Allé 8, 1. th
      <br />
      4600 Køge
    </p>
  </div>

  <section class="overflader">
    <div class="kurser_b">
      <img src="/temaBilleder/overflader.webp" alt="" />
    </div>
    <div class="overflader_tekst">
      <h2 class="overskrift">IMITATION AF OVERFLADER</h2>
      <p class="beskrivelse">
        15% rabat gælder kun kommende studerende på kunstuddannelser.
      </p>
      <h3 class="overskrift">D. 26-27 JUNI 2023</h3>
      <p class="beskrivelse">
        Overflader er en grundlæggende illusionistisk teknik, hvor iagttageren
        ´bedrages´ og tror at det malede objekt er virkeligt. Til illusion af
        overflader bruges overvejende glasurteknik med en varieret og kreativ
        brug af forskelligt værktøj, udstyr og hjælpemidler.  Ved at anvende
        glasurteknik, behøver man ikke lade sine kreative evner gå ud over
        byggematerialernes fysiske kompleksiteter, men man kan tværtimod udføre
        en overflade med enkle teknikker.
      </p>
      <p class="beskrivelse">
        Prisen er inklusiv materialer, kompendium og selvfølgelig te/kaffe og
        kage. Tilmelding er gyldig ved betaling, og kan fortrydes indtil en
        måned før kursusstart.
      </p>
      <p class="beskrivelse">
        Pris: 500,- pr. time, 3000,- dagspris (7,5 time).
      </p>

      <a class="knap" href="../">
        <Buttom variant="secondary" size="medium">Book kursus</Buttom>
      </a>
    </div>
  </section>

  <section class="overflader1">
    <div class="kurser_b">
      <img class="imgU" src="/temaBilleder/marmor.webp" alt="" />
    </div>
    <div class="overflader_tekst">
      <h2 class="overskrift">IMITATION AF MARMOR</h2>

      <h3 class="overskrift">D. 30-31 OKTOBER 2023</h3>
      <p class="beskrivelse">
        Imitation af marmor, også kaldet ´marmorering´ er en dekorativ
        imitations teknik, hvor marmor overflader efterlignes til mindste
        detalje. Man regner med, at marmorering har været udøvet i Europa gennem
        flere tusinde år. Fra udgravninger i Grækenland, har man i huse fra
        omkring 1500 år før vore tid fundet rester af marmorering. I løbet af
        kurset, vil der blive gennemgået to forskellige marmortyper og det hele
        vil foregå på et niveau, hvor alle kan være med.
      </p>
      <p class="beskrivelse">
        Prisen er inklusiv materialer, kompendium og selvfølgelig te/kaffe og
        kage. Tilmelding er gyldig ved betaling, og kan fortrydes indtil en
        måned før kursusstart.
      </p>
      <p class="beskrivelse">
        Pris: 500,- pr. time, 3000,- dagspris (7,5 time).
      </p>

      <a class="knap" href="../">
        <Buttom variant="secondary" size="medium">Book kursus</Buttom>
      </a>
    </div>
  </section>

  <section class="overflader">
    <div class="kurser_b">
      <img class="imgU" src="/temaBilleder/tre.webp" alt="" />
    </div>
    <div class="overflader_tekst">
      <h2 class="overskrift">IMITATION AF TRÆ</h2>

      <h3 class="overskrift">D. 16-17 OKTOBER 2023</h3>
      <p class="beskrivelse">
        Imitation af træ, også kaldet ´Ådring´, er en gammel maleteknik. De
        ældst kendte eksempler findes på de omkring 4000 år gamle egyptiske
        sarkofager. Hovedformen er imitation af træsort, men den dekorative
        virkning er målet.  Alle typer af træsorter kan imiteres.
      </p>
      <p class="beskrivelse">
        Prisen er inklusiv materialer, kompendium og selvfølgelig te/kaffe og
        kage. Tilmelding er gyldig ved betaling, og kan fortrydes indtil en
        måned før kursusstart.
      </p>
      <p class="beskrivelse">
        Pris: 500,- pr. time, 3000,- dagspris (7,5 time).
      </p>

      <a class="knap" href="../">
        <Buttom variant="secondary" size="medium">Book kursus</Buttom>
      </a>
    </div>
  </section>
</MainLayout>

<style>
  /* Slideshow */
  .slideshow {
    display: grid;
  }

  .section_top,
  .tekst {
    grid-area: 1/1;
  }

  .tekst {
    text-align: center;
    color: white;
    z-index: 2;
    place-self: center;
  }

  .h1 {
    font-size: 1.5rem;
  }
  .section_top {
    aspect-ratio: 1512/800;
    overflow: hidden;
    background-image: url("/temaBilleder/kursus1.webp");
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: change 15s infinite ease-in-out;
  }
  @keyframes change {
    0% {
      background-image: url(/temaBilleder/kursus1.webp);
    }
    33% {
      background-image: url(/temaBilleder/kursus2.webp);
    }
    66% {
      background-image: url(/temaBilleder/kurser3.webp);
    }
    100% {
      background-image: url(/temaBilleder/kursus1.webp);
    }
  }
  /* ------------ */

  .adresse {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2em;
    font-weight: 600;
    font-size: 1.3rem;
  }

  img {
    max-width: 100%;
  }

  /* Overflader */
  .overflader {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #eee7df;
    padding: 3em 3em 3em 3em;
  }

  .overflader1 {
    display: grid;
    grid-template-columns: 1fr;
    padding: 3em 3em 3em 3em;
  }

  .overskrift {
    padding-top: 1em;
  }
  ¨ .kurser_b {
    display: inline;
    justify-self: center;
  }
  .knap {
    display: grid;
    text-decoration: none;
    justify-content: center;
    padding: 1em 0 1em 0;
  }

  .overflader_tekst {
    max-width: 80vw;
  }
  .beskrivelse {
    line-height: 151.4%;
    padding-top: 1em;
    font-weight: 500;
  }

  /* --------- */

  @media screen and (min-width: 700px) {
    .shoph1 {
      font-size: 2.5rem;
    }
    .pIbillede {
      font-size: 1.5rem;
    }
  }

  @media screen and (min-width: 1000px) {
    .h1 {
      font-size: 3rem;
    }

    .overflader {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 5em 5em 5em 5em;
      gap: 1em;
    }

    .overflader1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 5em 5em 5em 5em;
      gap: 1em;
    }

    .overflader1 :nth-child(1) {
      order: 2;
    }
  }
</style>
