---

import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
<section>
    <img src="kursus1MedTekst.webp" alt="">
    <img src="" alt="">
    <img src="" alt="">
</section>




</MainLayout>