---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <section>
    <img
      class="TanjaBlob"
      src="/temaBilleder/omMigPortraet.webp"
      alt="Portræt af Tanja"
    />
    <article class="ommigTekst">
      <h1>Tanja Kaleovski</h1>
      <h2>Kunstner og dekorationsmaler</h2>
      <p>"At tage på oplevelse i en verden af illusioner.</p>
      <p>
        Jeg arbejder med at skabe stemninger og vække følelser hos folk.
        Beskueren må meget gerne undres. At det flade lærred kan vokse ud, og
        blive en form for installation eller levende genstand i rummet.
        Beskueren kan drages og “bedrages” og det umiddelbare liv, der skabes
        med teknikker, flid og mit kunstneriske billedunivers, kommer til live.
      </p>
      <p>
        Mine inspirationskilder ligger først og fremmest i det klassiske trompe
        l´oeil-maleri. En type maleri kendt siden antikken, hvor man skildrer
        objekter så realistisk, at det ser ud som om, de er virkelige. Ingen er
        perfekte og rene i farven hele tiden. Nogle gange er vi primære, nogen
        gange sekundære, og flest gange tiertære."
      </p>
      <p class="TanjaK">- Tanja Kaleovski</p>
    </article>
  </section>
</MainLayout>

<style>
  section {
    overflow: hidden;
    background-color: #eee7df;
    padding: 2rem;
    margin: 4rem 2rem 2rem 2rem;
  }
  .TanjaBlob {
    width: 90%;
    margin: 1.5rem;
    object-fit: contain;
  }

  .ommigTekst h1,
  h2,
  p {
    margin: 1rem;
    max-width: 65vw;
  }
  .ommigTekst h1 {
    font-size: 2.3rem;
    font-weight: 400;
  }
  .ommigTekst h2 {
    font-size: 1.2rem;
    font-weight: 200;
    margin-bottom: 2rem;
  }

  .TanjaK {
    font-style: italic;
    color: #525252;
  }

  @media screen and (min-width: 800px) {
    .TanjaBlob {
      width: 70%;
      order: 2;
    }

    section {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      overflow: hidden;
      background-color: #eee7df;
      margin: 0 0 2rem 0;
    }
    .ommigTekst {
      margin: 7rem 2rem 5rem 2rem;
      padding: 1rem;
    }
    .ommigTekst h1,
    h2,
    p {
      margin: 1rem;
      max-width: 65vw;
    }

    .ommigTekst h1 {
      font-size: 3rem;
      font-weight: 400;
    }
    .ommigTekst h2 {
      font-size: 2rem;
      font-weight: 200;
      margin-bottom: 2rem;
    }

    .TanjaK {
      font-style: italic;
      color: #525252;
    }
  }
</style>
