---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <article>
    <h1>OM MIG</h1>
    <p>
      At tage på oplevelse i en verden af illusioner. Jeg arbejder med at skabe
      stemninger og vække følelser hos folk. Beskueren må meget gerne undres. At
      det flade lærred kan vokse ud, og blive en form for installation eller
      levende genstand i rummet. At beskueren drages og “bedrages” og det
      umiddelbare liv der skabes, med teknikker, flid og mit kunstnerisk billed
      univers, kommer til live.
    </p>
    <p>
      Mine inspirationskilder ligger først og fremmest i det klassiske trompe
      l´oeil-maleri. En type maleri, kendt siden antikken, hvor man skildrer
      objekter så realistisk, at de ser ud, som om de er virkelige. Ingen er
      perfekte, rene i farven hele tiden. Nogen gange er vi primære, nogen gange
      sekundære, og flest gange tiertære.
    </p>
  </article>

  <div>
    <img src="" alt="" />
  </div>
</MainLayout>

<style></style>
