---
import Card from "../components/Card.astro";
import MainLayout from "../layouts/MainLayout.astro";

const data = await fetch(
  " https://pbwewzzxmajwtimxhwvi.supabase.co/rest/v1/produkter",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBid2V3enp4bWFqd3RpbXhod3ZpIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODQ3NTEwMzcsImV4cCI6MjAwMDMyNzAzN30.7isrtEphCJrttMn8HetVh12NpQkUPkX7M-Zx4_eSryc",
    },
  }
).then((res) => res.json());
---

<MainLayout>
  
    <div class="storBillede">
      <img src="..//temaBilleder/alleProdukter.webp" alt="malerier på væg" />
     <div class="tekst">
      <p class="pIbillede">Find inspiration blandt</p>
      <h1> ALLE PRODUKTER</h1></div> 
      
    </div>


 

  <section class="produkt">
    {
      data.map((produkt) => {
        return <Card data={produkt} />;
      })
    }
  </section>
</MainLayout>
<style>
.storBillede img {
  max-width: 100vw;
  margin-bottom: 2rem;
}

.section_top, .tekst{
    grid-area: 1/1;
}

.tekst{
    text-align: center;
    color: white;
    z-index: 2;
   place-self: center;  
}

h1{
    font-size: 1.5rem;
}

@media screen and (min-width:1000px){
h1{ 
font-size: 3rem;
}
}


@media screen and (min-width:700px){
    

.pIbillede{
    font-size: 1.5rem;   
}



}
</style>
