---
import Card from "../components/Card.astro";
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
const data = await fetch("").then((res) => res.json());
---

<MainLayout>
  <div class="splash">
    <div class="blaFugl">
      <img
        src="../produktbilleder/temaBilleder/alleProdukter.webp"
        alt="birdlife"
      />
    </div>
  </div>

  <article class="passionstekst">
    <p>
      Jeg tilbyder at male personlige sættekasser ud fra egne ønsker.  Disse
      sættekasser bliver malet med en bestemt teknik, som giver en illusion af
      ægte træ.  Det er op til dig, hvilke elementer, du ønsker, der skal indgå
      i dit personlige maleri.  Kun fantasien sætter grænser.
    </p>
  </article>
  <Card
    header="Fugl på farten"
    text="En flot sættekasse med brune og blå nuancer"
    button="Tilføj til kurv"
  >
    <img src="" alt="" />
  </Card>
</MainLayout>
