---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <section class="top">
    <div class="imge">
      <img src="..//temaBilleder/.webp" alt="malerier på væg" />
    </div>

    <div class="tekst">
      <p class="find">Skræddersy din egen personlige</p>
      <h1>SÆTTEKASSE</h1>
    </div>
  </section>
</MainLayout>

<style>
  .top {
    display: grid;
  }

  .imge,
  .tekst {
    grid-area: 1/1;
  }

  img {
    width: 100%;
  }

  .tekst {
    text-align: center;
    z-index: 2;
    place-self: center;
    color: white;
  }

  h1 {
    font-size: 2.5rem;
  }
</style>
