---
import Card from "../components/Card.astro";
import MainLayout from "../layouts/MainLayout.astro";

const data = await fetch(
  " https://pbwewzzxmajwtimxhwvi.supabase.co/rest/v1/produkter?nykat=eq.unika",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBid2V3enp4bWFqd3RpbXhod3ZpIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODQ3NTEwMzcsImV4cCI6MjAwMDMyNzAzN30.7isrtEphCJrttMn8HetVh12NpQkUPkX7M-Zx4_eSryc",
    },
  }
).then((res) => res.json());
---
<MainLayout> 
    <section class="top">
        <div class="imge"><img src="/temaBilleder/unika.webp" alt="malerier på væg" /></div>
          
         <div class="tekst">
          <p class="find">Orginale kunstværker</p>
          <h1 class="h1"> 
            <span class="shop"> Shop </span> UNIKA</h1></div> 
          
        </div>
      </section>

<section class="produkt">
    {
      data.map((produkt) => {
        return <Card data={produkt} />;
      })
    }
  </section>
</MainLayout>

<style>
.shop{
    font-weight: 400;
}
    .produkt{
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 250px));
     /*  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */ /* Tilpas antallet af kolonner efter behov */
      grid-gap: 30px ; /* Tilføj en passende mellemrum mellem kortene */
      margin: 4em 3em 3em 3em ;
      justify-content: center;
    }
    
    
    .top{
      display:grid;
    }
    
    .imge , .tekst{
        grid-area: 1/1;
    }
    
    img{
      width: 100%;
    }
    
    .tekst{
      text-align: center;
        z-index: 2;
       place-self: center;  
        color: white;
    }
    
    .h1{
        font-size: 2.5rem;
    }
    
    @media screen and (min-width:1000px){
    .h1{ 
    font-size: 4rem;
    }
    
    .produkt{
      grid-template-columns: 1fr 1fr 1fr;
      margin: 8em 6em 6em 6em;
      grid-gap: 100px ;
    }    
     
    }
    
    
    @media screen and (min-width:700px){
    
    .find{
        font-size: 1.5rem;   
    }
    
    
    
    }
    </style>