---
const { variant, size } = Astro.props;
---

<button class={variant + " " + size}><slot /></button>

<style>
  .primary {
    border: 1.5px solid white;
    color: white;
    background-color: transparent;
    border-radius: 0.3rem;
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
  }
  .secondary {
    border: none;
    color: white;
    background-color: #359dba;
    border-radius: 3rem;
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
  }

  .small {
    font-size: 0.8rem;
    width: 30vw;
    height: 4vh;
  }

  .medium {
    font-size: 0.8rem;
    width: 32vw;
    height: 4.5vh;
  }

  .large {
    font-size: 0.8rem;
    width: 45vw;
    height: 4.5vh;
  }

  .website {
    font-size: 0.8rem;
    width: 30vw;
    height: 4vh;
  }
</style>

<script>
  // Find knappen ved hjælp af dens id
  var button = document.getElementById("shopAlt");

  // Tilføj en eventlytter til knappen
  button.addEventListener("click", function () {
    // Før brugeren videre til en anden side
    window.location.href = "../pages/produkter"; // Erstat med din ønskede URL
  });
</script>
