---
const { data } = Astro.props;
---

<section class="card" >
  <a class="a_tag" href={`produkt/${data.slug}`}>
   <div class="imgBox"> <img
      src={`../../public/produktbilleder/Maleri/${data.billede}`}
      alt="billede"
    />
  </div>
</a>
  <div class="beskrivelse">
    <h2>{data.navn}</h2>
    <p class="size">{data.størrelse}</p>
    <p class="kat">{data.kategori}</p>
  </div>
  

</section>

<style>


  .card{
    display: flex;
    flex-direction:column;
    justify-content: end;
    overflow: hidden;
  }

  img {

  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.03);
  }
  }


.beskrivelse{
    padding: 10px;
  } 

  .card img {
max-width: 100%;
  /* Skalér billedet for at fylde hele pladsen i billedboksen */
}

 h2{
  font-size: 1rem;
 }

 .size{
font-weight: 500;
padding: 1em 0 1em 0;
 }

 .kat{
  font-style: italic;
 }

</style>
