---
const { data } = Astro.props;
import Buttom from "../components/Button.astro"
---

<section class="card">
  <a href={`produkt/${data.slug}`}>
   <div class="imgBox"> <img
      src={`../../public/produktbilleder/Maleri/${data.billede}`}
      alt="billede"
    />
  </div>
  <div class="beskrivelse">
    <h2>{data.navn}</h2>
    <p>{data.størrelse}</p>
    <p>{data.kategori}</p>
  </div>
  
  </a>
</section>

<style>

  .card{
    margin: 2em;
  }

  .beskrivelse{
    align-self: baseline;
  }
  img {
    max-width: 100%;
  }

  .imgBox{
    display: grid;
    place-content: center;  
  }

 h2{
  font-size: 1rem;
 }
a{
  text-decoration: none;
  
}
</style>
