---

---
<section class="footer">
<p>TANJA KALEOVSKI</p>
<img src="" alt="">

<ul class="footerlinks">
    <li><a href="/kurser">KONTAKT INFO</a></li>
    <li><a href="/produkter">OM MIG</a></li>
    <li><a href="/ommig">PRODUKTER</a></li>
    <li><a href="/instagram"> <img src="" alt=""></a></li>
    <li><a href="/facebook"> <img src="" alt=""></a></li>
  </ul>

</section>

  <style>
    
.footer{
    background-color: #468EA2;
}
.footer a{
  color: azure;
    text-decoration: none;
    text-transform: uppercase;
}

  </style>