---

---
<section class="footer">
<p class="tanjafooter">TANJA KALEOVSKI</p>
 <img class="sommerfugl" src="/billeder/sommerfuglny.webp" alt="Sommerfugl">


<ul class="footerlinks">
    <li><a href="/kurser">KONTAKT</a></li>
    <li><a href="/produkter">OM MIG</a></li>
    <li><a href="/ommig">PRODUKTER</a></li>
    <li><a href="/instagram"> <img class="instagram" src="/billeder/instagram.webp" alt="instagram logo"></a></li>
    <li><a href="/facebook"> <img class="facebook" src="/billeder/facebook.webp" alt="facebook logo"></a></li>
  </ul>

</section>

  <style>
    
    .tanjafooter{
      padding-top: 20px;
      color: white;
      font-weight: 700;
      font-size: 1.3rem;
    }
.footer{
  display: grid;
  justify-items: center;
    background-color: #297F96;
}

.sommerfugl {
width: 80px;

}


.footer a{
  color: azure;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
   
}

li{
list-style: none;
}

.instagram ,.facebook{
  width: 30px;

}

.footerlinks {
  display: flex;
  justify-content: center;
  align-items: center;
gap: 1rem;
padding-bottom: 4em;
}
@media screen and (min-width: 800px) {
 .footer a{font-size: 1.3rem; } 
}

  </style>