---
const { variant } = Astro.props;
---

<section class={variant}>
  <slot />
</section>

<style>
  . img {
    max-width: 100%;
    margin-bottom: 3rem;
    overflow: hidden;
    margin-left: 3rem;
  }
  .primary {
    margin-left: ;
  }
</style>
