---
import "../styles/style.css";
---
<header>
  <nav class="navigation">
    <div class="big-wrapper">
    <div class="menu-wrapper">
      <div class="burger-menu">
        <span></span>
        <span></span>
        <span></span>
    </div>
      <div class="logo">
        <a href="/index">TANJA<br>KALEOVSKI</a>
      </div>
      <img class="shoppingBaglille" src="../billeder/shoppingBag.webp" alt="">
    </div>

    <ul class="menu">
      <li><a href="/kurser">KURSER</a></li>
      <div>
     
    
      <div class="dropdown">
        <button class="dropbtn">WEBSHOP</button>
      <div class="dropdown-content">
      <a href="/produkter">Alle produkter</a>
       <a href="/unika">Unika</a>
       <a href="/saettekasse">Sættekasser</a>
      </div>
      </div>

    </div>
      <li><a href="/ommig">OM MIG</a></li>
      <li><a href="/kontakt">KONTAKT</a></li>
    </ul>
    <img class="shoppingBag" src="../billeder/shoppingBag.webp" alt="">
  </div>
  </nav>
</header>

<style>
  /* Mobile menu styling */
 
  nav{
    transition: transform 0.3s ease-in-out;
}

/* Få nav til at blive i toppen når man scroller */
  .navigation.scrolled {
  position: fixed;
  top: 0;
   left: 0;
   width: 100%;
   z-index: 999;
   background-color: #F9F6F4;
 
}
/* --- */
.menu {
        display: none;
        left: 0;
        z-index: 1;
        margin-top: 10px;
        text-align: center;
    }

.menu.active {
  display: block;
}

  .menu li {
    margin: 20px 0;
    list-style-type: none;
  }
  .under a{
    display: block;
    
  }
  li a {
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    text-decoration: none;
    color:#302D2D;
  }

  

  .burger-menu {
  display: block;
  position: relative;
  width: 30px; 
  height: 4px; 
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.burger-menu span{
 position: absolute;
  width: 100%;
  height: 4px; 
  background-color: #302D2D;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.burger-menu span:nth-child(1) {
  top: 0;
}

.burger-menu span:nth-child(2) {
  top: 10px;
}

.burger-menu span:nth-child(3) {
  top: 20px;
}


.menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .logo a{
    text-decoration: none;
    color:#302D2D;
    font-weight: 700;
    font-size: 30px;
  
  }

  img{
    order:3;
    width: 40px;
padding-right:2em;
  }

  .shoppingBag{
    display: none;
  }

  .dropbtn {
  color: #302D2D;
 font-weight: 800;
 font-size: 14px ;
 letter-spacing: 1px;
  border: none;
  cursor: pointer;
 background-color: #F9F6F4;
 z-index: 10;
}

.dropdown-content a {
  color: black;
 padding: 4px;
  text-decoration: none;
  display:block;
  z-index: 10;
}

a:hover{
  text-decoration: underline;
}

.logo a:hover{
  text-decoration: none;
}
.menu li :hover{
      text-decoration: underline;
    }


  /* Desktop menu styling */
  @media screen and (min-width: 800px) {


    .dropbtn {
  color: #302D2D;
  padding: 16px;
 font-weight: 800;
 font-size: 14px ;
 letter-spacing: 1px;
  border: none;
  cursor: pointer;
 background-color: #F9F6F4;
 font-family: "montserrat", sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F9F6F4;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}



    .big-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
    .menu {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 14px;
      color: black;
      position: static;
      margin-top: 0;
    }

    .menu li {
      margin: 0 20px;
      list-style-type: none;
      
    }

    .menu li :hover{
      text-decoration: underline;
    }
    .logo {
      order: 1;
    }

    .menu {
      order: 2;
    }

  .shoppingBaglille{
    display: none;
  }
  .shoppingBag{
    display:inline;
  }

    .burger-menu {
      display: none;
    }
  }
</style>
 <script>
  /* bugermenuen */
  const burgerMenu = document.querySelector('.burger-menu');
  const menu = document.querySelector('.menu');
  const menuItems = document.querySelectorAll('.menu li');

  burgerMenu.addEventListener('click', function() {
    burgerMenu.classList.toggle('active');
    menu.classList.toggle('active');
  });

  menuItems.forEach(function(item) {
    item.addEventListener('click', function() {
      burgerMenu.classList.remove('active');
      menu.classList.remove('active');
    });
  });

  window.addEventListener('resize', function() {
    if (window.innerWidth >= 800) {
      burgerMenu.classList.remove('active');
      menu.classList.remove('active');
    }
  });

/* fixes position */
window.addEventListener('scroll', function() {
  var navigation = document.querySelector('.navigation');
  var scrollPosition = window.scrollY;
  var headerHeight = document.querySelector('header').offsetHeight; // Højden af header-elementet

  if (scrollPosition > headerHeight) {
    navigation.classList.add('scrolled');
  } else {
    navigation.classList.remove('scrolled');
  }
});


</script>
