---
import "../styles/style.css";
---
<header>
  <nav class="navigation">
    <div class="big-wrapper">
    <div class="menu-wrapper">
      <div class="burger-menu">
        <span></span>
        <span></span>
        <span></span>
    </div>
      <div class="logo">
        <a href="/index">TANJA<br>KALEOVSKI</a>
      </div>
      <img class="shoppingBaglille" src="../billeder/shoppingBag.webp" alt="">
    </div>
    <ul class="menu">
      <li><a href="/kurser">KURSER</a></li>
      <div>
      <li class="produkter-dreodown">PRODUKTER</li>
      <ul class="dropdown-menu">
        <li class="under"><a href="/produkter/alle-produkter">Alle produkter</a></li>
        <li class="under"><a href="/produkter/unika">Unika</a></li>
        <li class="under"><a href="/produkter/sættekasser">Sættekasser</a></li>
      </ul>
    </div>
      <li><a href="/ommig">OM MIG</a></li>
      <li><a href="/kontakt">KONTAKT</a></li>
    </ul>
    <img class="shoppingBag" src="../billeder/shoppingBag.webp" alt="">
  </div>
  </nav>
</header>

<style>
  /* Mobile menu styling */

  nav{
    transition: transform 0.3s ease-in-out;
}

  .navigation.scrolled {
  position: fixed;
  top: 0;
   left: 0;
   width: 100%;
   z-index: 9999;
   background-color: #F9F6F4;
 
}
.menu {
        display: none;
        left: 0;
        z-index: 1;
        margin-top: 10px;
        text-align: center;
    }

.menu.active {
  display: block;
}

  .menu li {
    margin: 20px 0;
    list-style-type: none;
  }
  .under a{
    font-weight: 400;
    
  }
  li a {
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    text-decoration: none;
    color:#302D2D;
  }

  

  .burger-menu {
  display: block;
  position: relative;
  width: 30px; /* Adjust the width as needed */
  height: 4px; /* Adjust the height as needed */
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.burger-menu span{
 position: absolute;
  width: 100%; /* Adjust the width as needed */
  height: 4px; /* Adjust the height as needed */
  background-color: #302D2D;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.burger-menu span:nth-child(1) {
  top: 0;
}

.burger-menu span:nth-child(2) {
  top: 10px;
}

.burger-menu span:nth-child(3) {
  top: 20px;
}


.menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .logo a{
    text-decoration: none;
    color:#302D2D;
    font-weight: 700;
    font-size: 30px;¨
  
  }

  img{
    order:3;
    width: 40px;
padding-right:2em;
  }

  @media screen and (max-width:800px){
    .shoppingBag{
    display: none;
  }

  }

  .produkter-dropdown:hover .dropdown-menu {
    display: block;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #F9F6F4;
    z-index: 999;
    padding: 10px;
  }

  .dropdown-menu li {
    margin: 10px 0;
    list-style-type: none;
  }

  .dropdown-menu li a {
    text-decoration: none;
    color: #302D2D;
    font-weight: 800;
    letter-spacing: 1px;
  }

  @media screen and (min-width: 800px) {
    .menu li:not(.produkter-dropdown) ul.dropdown-menu {
      display: none;
    }

    .menu li:hover > ul.dropdown-menu {
      display: block;
    }
  }
  

  /* Desktop menu styling */
  @media screen and (min-width: 800px) {

    .big-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
    .menu {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-family: ;
      font-size: 14px;
      color: black;
      position: static;
      margin-top: 0;
    }

    .menu li {
      margin: 0 20px;
      list-style-type: none;
      
    }

    .menu li :hover{
      text-decoration: underline;
    }
    .logo {
      order: 1;
    }

    .menu {
      order: 2;
    }

  .shoppingBaglille{
    display: none;
  }

    .burger-menu {
      display: none;
    }
  }
</style>
 <script>

  /* bugermenuen */
  const burgerMenu = document.querySelector('.burger-menu');
  const menu = document.querySelector('.menu');
  const menuItems = document.querySelectorAll('.menu li');

  burgerMenu.addEventListener('click', function() {
    burgerMenu.classList.toggle('active');
    menu.classList.toggle('active');
  });

  menuItems.forEach(function(item) {
    item.addEventListener('click', function() {
      burgerMenu.classList.remove('active');
      menu.classList.remove('active');
    });
  });

  window.addEventListener('resize', function() {
    if (window.innerWidth >= 800) {
      burgerMenu.classList.remove('active');
      menu.classList.remove('active');
    }
  });
/* fixes position */
window.addEventListener('scroll', function() {
  var navigation = document.querySelector('.navigation');
  var scrollPosition = window.scrollY;
  var headerHeight = document.querySelector('header').offsetHeight; // Højden af header-elementet

  if (scrollPosition > headerHeight) {
    navigation.classList.add('scrolled');
  } else {
    navigation.classList.remove('scrolled');
  }
});


</script>
