---
// Dette er singleview sitet.

import MainLayout from "../../layouts/MainLayout.astro";
export async function getStaticPaths() {
  const data = await fetch(
    " https://pbwewzzxmajwtimxhwvi.supabase.co/rest/v1/produkter",
    {
      method: "GET",
      headers: {
        apikey:
          "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBid2V3enp4bWFqd3RpbXhod3ZpIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODQ3NTEwMzcsImV4cCI6MjAwMDMyNzAzN30.7isrtEphCJrttMn8HetVh12NpQkUPkX7M-Zx4_eSryc",
      },
    }
  ).then((response) => response.json());
  // Ovenstående gør at vi kan fetche vores data fra supabase og unlocke den med apikeyen.

  return data.map((produkt) => {
    return {
      params: { slug: produkt.slug },
      props: { myData: produkt },
    };
  });
}
// Dette gør at vi forbinde denne side med slug siden.

const { myData } = Astro.props;
console.log(myData);
// Dette gør at vi kan bruge myData senere nede i singleviewet.
---

<MainLayout title={myData.navn}>
 <section class="single_view"> <img
    src={`../../public/produktbilleder/Maleri/${myData.billede}`}
    alt="singleview_billede"
  />
  <div class="single_tekst">
    <h2>{myData.navn}</h2>
  <p>{myData.størrelse}</p>
  <p>{myData.kategori}</p>
  </div>
  
</section>
</MainLayout>

<style>
.single_view{
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(0,400px));
  margin: 3em;

}

img{
  max-width: 100%;
}

</style>
