---
import MainLayout from "../../layouts/MainLayout.astro";
export async function getStaticPaths() {
  const data = await fetch(
    " https://pbwewzzxmajwtimxhwvi.supabase.co/rest/v1/produkter",
    {
      method: "GET",
      headers: {
        apikey:
          "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBid2V3enp4bWFqd3RpbXhod3ZpIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODQ3NTEwMzcsImV4cCI6MjAwMDMyNzAzN30.7isrtEphCJrttMn8HetVh12NpQkUPkX7M-Zx4_eSryc",
      },
    }
  ).then((response) => response.json());

  return data.map((produkt) => {
    return {
      params: { slug: produkt.slug },
      props: { myData: produkt },
    };
  });
}
const { myData } = Astro.props;
console.log(myData);
---

<MainLayout title={myData.navn}>
  <img src={myData.billede} alt="" />
  <h2>{myData.navn}</h2>
  <p>{myData.størrelse}</p>
  <p>{myData.kategori}</p>
</MainLayout>
