---
import Navigation from "../components/Navigation.astro";
// import "../styles/style.css";
import Footer from "../components/Footer.astro";
const {TanjaKaleovski} = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name= "description" content="Tanja Kaleovski kunstern og dekorationsmaler.
    Dekorationskunst består af ældgamle malerteknikker, som Tanja igennem
    sine værker både dyrker og bevarer.">
		<meta name ="keywords" content="kunster, dekorationsmaler, imitation, Giclée print, kunsttryk, kunstkurser, kurser, male, shop, sættekasse, kunstværk "  >
    <meta name="generator" content={Astro.generator} />
    <title>{TanjaKaleovski} Tanja Kaleovski</title>
  </head>
  <body>
    <Navigation />
    <main>
      
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  body {
    background-color: #f9f6f4;
 
   }

   h1{
    color:#302D2D;
   }
   h2{
    color:#302D2D;
   }

   h3{
    color:#302D2D;
   }

   p{
    color:#302D2D;
   }


  
</style>
